<%= form_with model:team do |form|%>
    <div>
        <%= form.label :title%>
        <%= form.text_field :title%>
        <ul>
            <% team.errors.full_messages_for(:title).each do |error| %>
                <li>
                    <%= error %>
                </li>
            <% end %>
        </ul>
    </div>
    <%= form.label :coordinator%>
        <%= form.text_field :coordinator%>
        <ul>
            <% team.errors.full_messages_for(:coordinator).each do |error| %>
                <li>
                    <%= error %>
                </li>
            <% end %>
        </ul>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>