<h1><%= @team.title %></h1>
<h2><%= @team.coordinator %></h2>
<ul>
    <li>
        <%= link_to "Edit team name", edit_team_path %>
    </li>
    <li>
        <%= link_to "Delete", team_path(@team), data: {
            turbo_method:"delete",
            turbo_confirm:"Are you sure?"
        } %>
    </li>
</ul>

<ul>
    <%= render @team.players %>
</ul>
<%= link_to "Add a new player ", new_team_player_path(@team) %>