<%= form_with model:[team, player] do |form|%>
    <div>
        <%= form.label :player_name %><br/>
        <%= form.text_field :player_name%>
    </div>
    <div>
        <%= form.label :coordinator%>
        <%= form.check_box :coordinator %>
    </div>
    <div>
        <%= form.submit%>
    </div>
<% end %>